<header>
    <nav class="nav">
      <div class="logo">
        Free Courses
      </div>
      <a href="/profile" class="user_details">
        <div class="usrimg">
          <ion-icon name="person"></ion-icon>
        </div>
        
        <%= user.first_name %>
      </a>
    </nav>
  </header>