<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    
    <form class="form" action="/login" method="POST">
      <div class="inp_con">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required><br>
      </div>
      <div class="inp_con">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
      </div>
      
      <div class="select_con">
        <label for="userRole">Select Role:</label><br>
        <div class="radio_con">
          <div class="radio">
            <input type="radio" id="userRole" name="role" value="user" checked>
            <label for="userRole">User</label>
          </div>
          <div class="radio">
            <input type="radio" id="adminRole" name="role" value="admin">
            <label for="adminRole">Admin</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn">Login</button>
    </form>

    <p>Don't have an account? <a href="/signup">signup</a></p>
  </div>
</body>
</html>
