<!-- views/signup.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
  <div class="container">
    <h1>Signup</h1>
    
    <form class="form" action="/signup" method="POST">
      <!-- <div class="inp_con">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required>
      </div> -->
      <div class="inp_con">
        <label for="firstname">First Name:</label><br>
        <input type="text" id="username" name="firstname" required>
      </div>
      <!-- <div class="inp_con">
        <label for="fullName">Full Name:</label><br>
        <input type="text" id="fullName" name="fullName" required>
      </div> -->
      <div class="inp_con">
        <label for="lastname">Last Name:</label><br>
        <input type="text" id="lastname" name="lastname" required>
      </div>
      <div class="inp_con">
        <label for="email">Email:</label><br>
      <input type="email" id="email" name="email" required>
      </div>
      <div class="inp_con">
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>
      </div>
      
      <div class="select_con">
        <label for="userRole">Select Role:</label><br>
        <div class="radio_con">
          <div class="radio">
            <input type="radio" id="userRole" name="role" value="user" checked>
            <label for="userRole">User</label>
          </div>
          <div class="radio">
            <input type="radio" id="adminRole" name="role" value="admin">
            <label for="adminRole">Admin</label>
          </div>
        </div>
      </div>
      <button type="submit" class="btn">Sign Up</button>
    </form>
    
    <p>Already have an account? <a href="/login">Login</a></p>
  </div>
</body>
</html>
